.applicantPage {
    padding: 2vh !important;
  }
  
  .applicantTable {
    height: 78vh !important;
    overflow: auto !important;
  }

  .headerFixed {
    font-size: 22px !important;
    }
    .tablebody {
    font-size: 19px !important;
    }
    .overalltable {
    margin-left: -20vh !important;
    }